<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="background-color: powderblue;">
<div>
    <form action="/profile">
        <label>USERNAME</label><br>
        <input name="username" type="email" placeholder="Write your username"><br><br>
        <label>PASSWORD</label><br>
        <input password="password" type="password" placeholder="Write your password"><br><br>
        <input type="submit" value="LOGIN"><br><br>
    </form>
</div>
<div>
    <form action="/register">
        <label>Are you new here?</label>
        <input value="Register" type="submit">
    </form>
</div>

</body>
</html>